<!--
<div class="notify-top-popup" style="top: -90px;position: relative;">
</div>
            <svg class="logo">
                <use xlink:href="#logo"></use>
            </svg>

<div class="block">
    <h4 class="page-title">Let’s validate your account</h4>

    <div class="form-wrapper">
        <form>
            <div class="input-wrapper">
                <input type="text" class="input-field" [value]="token" name="token_validation" required placeholder="Token Validation" disabled>
            </div>
            <div class="input-wrapper">
                <button type="submit" class="btn btn&#45;&#45;green btn&#45;&#45;full" (click)="validateToken()">VALIDATE</button>
            </div>
        </form>
    </div>
</div>-->
