<div class="breadcrumbs">
   <a [routerLink]="['/account/my-account']" routerLinkActive="breadcrumbs__item--active" class="breadcrumbs__item">My Account</a>
    <span class="separator separator--bullet"></span>
    <a *ngIf="user_auth_method == 'user'" [routerLink]="['/account/auth-user']" routerLinkActive="breadcrumbs__item--active" class="breadcrumbs__item">Authorized User</a>
    <a *ngIf="user_auth_method == 'ip'" [routerLink]="['/account/auth-ip']" routerLinkActive="breadcrumbs__item--active" class="breadcrumbs__item">Authorized IPs</a>
    <span *ngIf="user_access_type == 'whitelist'" class="separator separator--bullet"></span>
    <a *ngIf="user_access_type == 'whitelist'" [routerLink]="['/account/user-whitelist']" routerLinkActive="breadcrumbs__item--active" class="breadcrumbs__item">User Whitelist</a>
</div>
<form class="block page_block_inner">
    <h4 class="block__title">Your authorized user</h4>
    <p class="block__desc">Manage your proxy login here.</p>
    <div [innerHTML]="errorMessage" style="color:red;"></div>
    <div class="row">
        <label class="col-xs-12 col-sm-2" style="padding-top: 3.5%;">
           <b>Username:</b>
        </label>
         <div class="col-xxs col-xs-6 input-wrapper">
            <input type="text" class="input-field" name="username" [value]="username" disabled>
        </div>
    </div>

    <div class="row">
          <label class="col-xs-12 col-sm-2" style="padding-top: 3.5%;">
           <b>Password:</b>
        </label>
        <div class="col-xxs col-xs-6 input-wrapper">
            <input type="text" class="input-field" name="password" [(ngModel)]="proxy_password">
        </div>
        <div class="col-xxs col-xs-5 col-lg-4 input-wrapper">
            <button type="submit" class="btn btn--full" (click)="updateProxyPassword()">Update Password</button>
        </div>
    </div>
</form>
<div class="sidebar big-sidebar"><account-sidebar></account-sidebar></div>
